.container {
  max-width: 100%;
  height: min-content;
  cursor: pointer;
  display: flex;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  border: none;
  background-color: rgb(255, 240, 225);
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  position: relative;

  .main {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    .inviteLinkContainer {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      .inviteLinkPrompt {
        font-size: 0.75rem;
        color: rgb(167, 167, 167);
      }
      .copyLinkContainer {
        display: flex;
        gap: 1rem;
        align-items: center;
        p {
          word-break: break-word;
          font-weight: 700;
        }
        .copyIcon {
          padding: 0.5rem;

          &:hover {
            background-color: rgb(255, 228, 201);
            border: none;
            border-radius: 50%;
          }
        }
      }
    }
    .snapshotContainer {
      display: flex;
      gap: 1rem;
      .snapshotItem {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        padding-right: 1rem;
        align-items: center;
        border-right: 1px solid rgb(197, 197, 197);
        .snapshotItemTitle {
          font-size: 0.75rem;
          color: rgb(167, 167, 167);
        }
        .snapshotItemValue {
        }
      }
    }
    .deckTypeContainer {
      display: flex;
      gap: 1rem;
      align-items: center;
      .deckTypeTitle {
        font-size: 0.75rem;
        color: rgb(167, 167, 167);
      }
    }
  }
  .deleteButton {
    display: none;
    padding: 0.5rem;
    position: absolute;
    top: 0.5rem;
    right: 1rem;

    &:hover {
      background-color: rgb(255, 228, 201);
      border: none;
      border-radius: 50%;
    }
  }
  &:hover {
    padding: 0.5rem 1rem;
  }
  &:hover .deleteButton {
    display: block;
  }
}
@media (max-width: 768px) {
  .container {
    width: 100%;
    flex-direction: column;
    position: relative;
    align-items: flex-start;

    .deleteButton {
      position: absolute;
      top: 0;
      right: 0;
      display: block !important;
    }
  }
}
