.container {
  width: 6rem;
  background-color: rgb(240, 240, 240);
  position: relative;
  cursor: pointer;
  font-size: 0.75rem;

  &:hover {
    background-color: rgb(235, 235, 235);
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;

    .headerTitle {
      flex: 3;
      text-overflow: ellipsis;
    }
    .headerIcon {
      flex: 1;
      background-color: rgb(235, 235, 235);
      img {
        width: 1rem;
        height: 1rem;
      }
    }
  }

  .options {
    max-height: 8rem;
    overflow-y: auto;
    width: inherit;
    background-color: inherit;
    position: absolute;
    padding-bottom: 0.5rem;
    top: 100%;
    left: 50%;
    transform: translate(-50%, 0%);

    li {
      list-style: none;
      padding: 0.5rem;
      overflow-wrap: break-word;

      &:hover {
        background-color: rgb(230, 230, 230);
      }
    }
  }
}
